*{
  box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
  }
  
  header {
    width: 100%;
    display: flex;
    justify-content: end;
    flex-direction: row;
    align-items: center;
  
  }
  
  ul {
    list-style: none;
  }
  

  #nav_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 7px;
  }
  
  #nav_bar li {
    width:fit-content;
    padding: 8px;
    color: #404040;
    font-size: 13px;
  }
  
  #nav_bar #sign_in {
    background: #347cf0; 
    margin-right: 25px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 3px; 
    font-size: 14px;
    color: rgba(255, 255, 255, 0.863);
  
  }
  
  ion-icon{
    padding: 7px;
    border-radius: 50%;
  }
  ion-icon:hover{
    background-color: lightgray ;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }
  
  li.nav-links a:hover {
    text-decoration: underline;
  }
  
  #nav_bar #sign_in:hover { 
    box-shadow: 1px 1px 5px #999;
    text-decoration: none;
  }
  
  #sign_in {
    color: #fff;
  }

  .icon{
    opacity: 0.7;
    font-size: 1.1rem;
    margin: 5px;
    font-size: 18px;
    &:hover{
      background-color: rgba(255, 255, 255, 0);
    }
  }
  #clear-icon{
    margin-right: 2px;
    padding-right: 2px;
  }
  #search-by-image{
    color: rgb(252, 69, 69);
    border-left: 1px solid rgba(0, 0, 0, 0.178);
    border-radius: 0%;
    padding-top: 2px;
    padding-bottom: 2px;

    
  }
  
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.form{
  width: 100%;
}
.form form{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  padding: 20px;
  width: 100%;

}
#search-div{
  width: 85%;
  border: none;
}
#main-search-div{
  width:100%;
  border-radius: 50px;
  display: flex;
  height:40px;
  border:1px solid rgba(211, 211, 211, 0.925);
  align-items: center;
  justify-content: space-between;

  &:hover{
    box-shadow: 1px 3px 2px 2px #ebe8e8;
    
  }
  }
  #inputspan{
    width:100%;
    height: 80%;
    border: none;
  }

  #searchbar{
    height:100%;
    width:100%;
    border: none;
    border: X;
    padding:0px;
    outline: none;
    
  }

  
  .button{
    padding: 12px;
    background-color: rgb(240, 242, 243);
    border: 0.008px solid white;
    margin-right: 4px;
    margin-left: 4px;
    font-size: 13px;
    font-weight: 300;
    cursor: pointer;
  }
  .button:hover{
    box-shadow: 1px 1px 5px #999;
  }
  #languages{
    margin-top: 20px;
    font-size: 13px;
    
  }
  #languages span{
    font-weight:lighter;
    opacity: 0.7;

  }
  #languages span .lan{
    color: blue;
    opacity: 1;
    font-weight: 599;
    &:hover{
        text-decoration: underline;
        color: blue;
    }
  }
  

  footer  {

    background-color: #ececf5;
    border-top: solid 2px #e4e4e4;
    position: fixed;
    bottom: 0;
    padding-bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  #footerlinks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   }
  
  footer ul li {
    display: inline;
    color: #666666;
    font-size: 15px;
    padding: 13px;
  }
  .country{
    color: #666666;
    font-size: 15px;
    padding: 13px;
  }
  

  
  footer ul a:hover {
    text-decoration: underline;
  }
  
@media all and (min-width: 980px) and (max-width: 1200px){
  #footerlinks{
    justify-content: space-around;
   }


}
@media all and (min-width: 663px) and (max-width: 979px){
  #footerlinks{
    flex-wrap: wrap;
    justify-content: space-around;
   }
}
@media all and (min-width: 440px) and (max-width: 662px){
  #footerlinks{
    flex-wrap: wrap;
    justify-content: space-around;
    
   }
   #leftlinks{
    display: flex;

    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
   }
}
@media all and (max-width: 439px){
  #footerlinks{
    flex-wrap: wrap;
    justify-content: space-around;
    
   }
   #leftlinks{
    display: flex;
    flex-wrap: nowrap;
   }
   #rightlinks{
    display: flex;
    flex-wrap: nowrap;
   }
   #button{
    display: flex;
    margin-right: 4px;
    margin-left: 4px;
    flex-wrap: nowrap;
   }
}

@media all and (max-height: 460px){
  footer{

    top: 365px;
  }
}
  

  

  
  
  
  
  